body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section{
    padding-top: 40px;
}

.container-fluid{
    padding: 0;
}

#startView{
    height: 100vh;
    width: 100%;
}

nav{
    z-index: 3;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(135, 5, 5, 0.89);
    font-weight: bold;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: rgba(194, 10, 10, 0.89);
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}

#hero-image-container{
    width: 100%;
}

#hero-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);

    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
    width: auto;
    min-width: 100%;
    height: 100%;
}

.hero-content{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    height: 100%;
}

.hero-left-col{
    text-align: center;
}

#avatarIcon{
    width: 55%;
    height: auto;
    top: 50%;
    position: relative;
    transform: translateY(-60%);
    border-radius: 90%;
}

.hero-right-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
}
.heroTitle{
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
}
.heroSubTitle{
    font-size: 40px;
}

.btn{
     width: 150px;
    font-weight: bold;
    background-color: rgba(135, 5, 5, 0.89);
    border-color: rgba(135, 5, 5, 0.89);
 }
.btn:hover{
    background-color: rgba(194, 10, 10, 0.89)
}

.sectionTitle{
    font-size: 40px;
    font-weight: bold;
}

#about{
    text-align: center;
}

.aboutText{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}
.aboutDate{
    font-size: 20px;
}
.aboutName{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.aboutTitle{
    margin-bottom: 0;
}

.aboutMeIcon{
    width: 200px;
    height: auto;
    border-radius: 90%;
    margin: 30px 0;
}

.imageRow{
    width: 80%;
    margin: 0 auto;
}

.techStack{
    font-size: 30px;
    font-weight: bolder;
}

.techStackImage{
    width: 30%;
    height: auto;
}

.projectImage{
    width: 300px;
    height: auto;
}

.socialLink{
    width: 40px;
    height: auto;
}

@media only screen and (max-width: 576px){
    section{
        padding-top: 0;
    }
    .hero-right-col{
        text-align: center;
        justify-content: start;
        line-height: 0.7;
    }
    .heroTitle{
        font-size: 60px;
    }

    .heroSubTitle{
        font-size: 30px;
    }

    #avatarIcon{
        width: 65%;
    }

    .aboutText{
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn{
        margin: 0 auto;
    }
}